body {
    background: linear-gradient(rgba(168, 192, 255, 1) 0%, rgba(63, 43, 150, 1) 100%);
}
h1{
    text-align: center;
}
.container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    max-width: 330px;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    opacity: 100%;
    border: white solid 2px;
}

.box:hover{
    width: 110px;
    height: 110px;
}

button{
    background-color: #c83d38;
    color: white;
    text-transform: uppercase;
    height: 40px;
    width: 160px;
    margin: auto;
    margin-top: 20px;
    border: none;
}