@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,500;0,600;1,100&display=swap');

.container {
    display: flex;
    justify-content: center;
}

.box {
    max-width: 710px;
    width: 238px;
    height: 283px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    border: 1px solid #ECF1F4;
    justify-content:space-between;    
}

.box:hover{
    max-width: 710px;
    width: 248px;
    height: 293px;
    background-color: #f8fafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    border: 1px solid #e6eaec;
    justify-content:space-between;
}

h1{
    margin-bottom: 39px;
    text-align: center;
    font-size: 22.71px;
    line-height: 30.8px;
    font-family: "Inter";
    font-weight: 700;
}

.itrial {
    margin: 69px 110.82px 21px 107.5px;
}
.ibasic {
    margin: 66px 113px 18px 111px;
}
.iadv {
    margin: 70px 111px 21px 107.5px;
}

.produto {
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    font-family: "Poppins";
    font-weight: 500;
    color: #4C6670;
    margin: 0;
    
}

i{
    font-family: "Poppins";
    font-weight: 100;
    color: #4C6670;
    text-align: center;
}


.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 97px;
    border: none;
    width: 100%;
    height: 50px;
    font-family: "Poppins";
    font-weight: 600;
    color: #4C6670;
    background-color: #ECF1F4;
}